@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #6E7DAB;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #6E7DAB;
    border-bottom: 3px solid #6E7DAB;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #6E7DAB;
        border-bottom: 3px solid #6E7DAB;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #6E7DAB;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.competence h1{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.competence h2{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
    color: #6E7DAB;
}

.competence p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
}

.competence p img{
    width: auto;
    height: 5rem;
    transition: transform 0.3s ease;
}

.competence p img:hover{
    transform: scale(1.1);
}

@media(max-width:995px){
    .competence h1, .competence h2{
        font-size: 3rem;
    }
    
    .competence p img{
        height: 4rem;
    }
}
